<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link
      href="https://unpkg.com/papercss@1.7.0/dist/paper.min.css"
      rel="stylesheet"
    />
    <link href="styles.css" rel="stylesheet" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include nav %}
    <div class="container container-lg mt-large paper">
      {{ content }}
    </div>
  </body>
</html>
